    <footer>
        <div class="grid">
            <div class="grid__item 1 text-center">
                <p>Made with the Clicksco Static Site Generator</p>
            </div>
        </div>
    </footer>


    <!-- Scripts -->
    <script src="/jspm_packages/system.js"></script>
    <script src="/config.js"></script>
    <script>
        System.import('/assets/js/app.js');
    </script>
    <script src="https://use.typekit.net/tay6bco.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <!-- // Scripts -->

</body>
</html>
